* {
    list-style: none;
    text-decoration: none;
    margin: 0 ;
    line-height: 1.5;
}

  /* CSS Variables */
:root {
    --bg-light: #ffffff;
    --bg-accent: #fefaf5;
    --accent-color: #db7a4e;
    --main-color: #335576;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 0.6rem;
    font-weight: 300;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
}

.active {
    border-bottom: #db7a4e solid 2px;
}


  /* Header & Nav Section */
#nav-bar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;   
}

.nav-bar-left {
    color: var(--main-color); 
    width: 70%;
    margin: 5px 0;
}

.nav-bar-right {
    width: 23%;
}

.nav-bar-right .nav-bar-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0px;
}

.nav-bar-right .nav-bar-menu li a {
    color: var(--main-color);
    font-size: 0.9rem;
}

.nav-bar-right .nav-bar-menu li a:hover {
    border-bottom: solid 2px var(--main-color);
}

/* Form Section */
#form {
    background-color: var(--bg-light);
}
#form .container {
    width: 30%;
    margin: 50px auto;
    padding: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-accent);
    border: solid 1px rgba(0,0, 0, 0.2);
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0,0, 0, 0.2)
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    padding: 20px;
}

.headline{
    color: var(--accent-color);
}

label.title {
    color: var(--main-color);
    font-weight: 700;
}


input, #places, textarea {
    width: 60%;
}

#places {
    text-align: center;
}

.btn-submit {
    width: 50%;
    margin: 0 auto;
    color: var(--accent-color);
    background-color: var(--bg-light);
    border-radius: 20px;
    border: 2px solid var(--accent-color);
}

.btn-submit:hover {
    color: var(--bg-light);
    background-color: var(--accent-color);
}

/* Footer */
footer {
    background-color: var(--bg-accent);
    padding: 50px 0;
}

footer .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}


.footer-division-top {
    color:var(--main-color);
}

.footer-division-subtitle {
    color:var(--accent-color);
}

.footer-division-bottom {
    display: flex;
    gap: 25px;
}

.footer-division-email{
    display:flex;
    flex-direction: column;
}

.footer-division-info {
    color:var(--main-color);
}

.icon {
    width: 23px;
    height:23px;
}

/* Media Queries */
@media (max-width: 1024px) {
    header, #nav-bar, .nav-bar-left .nav-bar-menu, .nav-bar-right, li, a {
        display: flex;
        flex-direction: column;
        width: 100%;    
    }

    footer .container{
        width: 60%;
    }

    #form .container {
        width: 60%;
    }

    h1 {
        font-size:2rem;
    }

    h3, h4, p {
    font-size: 0.7rem;;
    }   
}

@media (max-width:768px ){
    label.title {
        font-size: 0.8rem;
    }
    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    .contactform {
        width: 100%;
        padding: 0;
    }


    footer .container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}